@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 74, 110;
  --background-start-rgb: #e5e7eb;
  --background-end-rgb: #e5e7eb;
  --button-primary: #cbd5e1;
  --contrast-color: #075985;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 15, 23, 42;
    --button-primary: #334155;
    --contrast-color: #cbd5e1;
  }

  .active {
    background-color: #334155;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  height: 100vh;
}

.active {
  background-color: #cbd5e1;
}

.chartCard {
	width: 100vw;
	height: calc(100vh - 40px);
	background: rgba(54, 162, 235, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.chartBox {
	width: 700px;
	padding: 20px;
	border-radius: 20px;
	border: solid 3px rgba(54, 162, 235, 1);
	background: white;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 5px;
}